<h3>Pills</h3>

<ul>
  <% @pills.each do |pill| %>
    <li>
      <%= @pill.pillname %>

    </li>
  <% end %>
</ul>

<img src="http://holisticmamas.com/wp-content/uploads/2013/01/Suppository.jpg" alt="sup" />
<img src="http://paulgerald.com/wp-content/uploads/2014/09/pills.jpg" alt="" />
