<h1>Pill#index</h1>
<p>Find me in app/views/pill/index.html.erb</p>


<img src="http://holisticmamas.com/wp-content/uploads/2013/01/Suppository.jpg" alt="sup" />
<img src="http://paulgerald.com/wp-content/uploads/2014/09/pills.jpg" alt="" />
